---
import { ViewTransitions } from "astro:transitions"
import GlobalStyles from "../components/GlobalStyles.astro"
const {title} = Astro.props
const {currentLocale} = Astro
---

<html lang={currentLocale} class="h-screen">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="generator" content={Astro.generator}>
        <ViewTransitions />
        <title>{title}</title>
    </head>
    <body class="w-[50rem] m-auto">
        <GlobalStyles />
        <slot></slot>
    </body>
</html>